*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;

}
body{
    background-color: rgb(75, 240, 144);
}
#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 0%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 100;
    background-color: rgb(8, 106, 218);
}
.logo{
    font-size: 2rem;
    color:white;
    font-weight: 600;
    cursor: pointer;
}
.navbar a{
    font-size: 1.7rem;
    color:rgb(244, 241, 241);
    font-weight: bold;
    margin-left: 2rem;
    transition: 1s;
}
.navbar a:hover, .navbar a.active{
    color: red;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.home{display: flex;
    justify-content:center;
    align-items: center;
}
.home-content h3{
    font-size: 3rem;
    font-weight: 700;
}
.home-content h1{
    font-size: 5.6rem;
    font-family: 700;
    line-height: 1.3;
}
.home-img img{
    width: 500px;
    height: 500px;
    margin-left: 1rem;
   border-radius: 55%;
    
}
.home-content p{
    font-size:1.6rem ;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height:4rem;
    background-color:transparent;
    font-size: 2rem ;
    margin: 2rem 1.5rem 2rem 0;
}
.btn{
    display: inline-block;
    padding: 1rem 1.8rem;
    color: white;
    background-color: greenyellow;
    border-radius: 5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: 0.1s ease;
    margin-top: 5%;

}
.btn:hover{background-color: aqua;
color:white;
box-shadow: 0 0 o.7rem black;
}
.social-media a:hover{
    color: aliceblue;
}
span{
    color: azure;
}
.about{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: rgb(251, 252, 246);
  }
  .about-img img{
    width: 35vw;
  }
  .heading{
    text-align: center;
    font-size: 4.5rem;
  }
  .about-content h2{
    text-align:left;
    line-height: 1.2;
  }
  .about-content h1{
    font-weight: lighter;
    color: black;
    font-size: 4rem;
}
.about-content p{
    font-weight: lighter;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.about-content a{
    
    font-weight: lighter;
    font-size: 1.2rem;
}


/* Services */

.services{
    
    display: flex;
    flex-direction: column;
    text-align: center;
}
.heading{
    margin-top: -7rem;
    font-size: 3.5rem;
    color: rgb(246, 246, 246);
}
.service-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.service-box{
    padding: 1rem;
    border-radius: 1rem;
    width: 30%;
    margin-top: 2rem;
    font-size: 1.5rem;
    background-color: #f9f7f9;
}

.service-box p{
    margin-bottom: 1rem;
}



